{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{post.title}}
{% endblock title %}
    
{% block content %}
    <div class="container">
        <h1>{{post.title}}</h1>
        <small>by {{post.author.first_name}} 
            {{post.author.last_name}}-
            {{post.post_date}}


            {% if user.is_authenticated %}
                
                {% if user.id == post.author.id %}
                    -<a href="{%  url 'blog_app:PostUpdateView' pk=post.pk  %}">(Edit)</a>
                    -<a href="{% url 'blog_app:PostDeleteView' pk=post.pk %}">(Delete)</a>
                {% endif %}
            {% endif %}
            
        </small><br>
        <hr>
        <br>
        {% if post.image %}
            <img src="{{ post.image.url }}" width=500>
        {% else %}
            <p>no image</p>

        {% endif %}


        <br>
        {{post.body|safe}}
        
        
        <a href="{% url 'blog_app:PostListView' %}" class="btn btn-secondary">Go Back</a>
        <br></br>
        
        {% if user.is_authenticated %}
            <form action="{% url 'blog_app:like' post.pk %}" method="post">
                {% csrf_token %}
                
                {% if post_is_liked %}
                    <button class="btn btn-block btn-danger" value="{{post.id}}" name ="post_id"><i class="fa fa-thumbs-down"></i> </button>
                {% else %}
                    <button class="btn btn-block btn-primary" value="{{post.id}}" name ="post_id"><i class="fa fa-thumbs-up"></i> </button>
                {% endif %}
                    
                
            </form>
            {% else %}
            <a class="btn btn-outline-info" href="{% url 'members_app:login' %}?next={{request.path}}">Log in to like this article!</a><br>
        {% endif %}
        <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
    </div>
{% endblock %}